/* Modal Styles */
.modal {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Adjusted margin for better centering */
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box-shadow for depth */
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease; /* Smooth transition on hover */
  }
  
  .close:hover,
  .close:focus {
    color: #333; /* Darken color on hover for better visibility */
    text-decoration: none;
  }
  
  /* Form inside Modal */
  .modal-content form {
    display: flex;
    flex-direction: column;
  }
  
  .modal-content label {
    margin-bottom: 8px;
    color: #333;
  }
  
  .modal-content input[type="text"],
  .modal-content input[type="email"],
  .modal-content input[type="number"],
  .modal-content input[type="date"],
  .modal-content select {
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .modal-content select {
    cursor: pointer;
  }
  
  .modal-content button[type="submit"] {
    margin-top: 20px;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .modal-content button[type="submit"]:hover {
    background-color: #45a049;
  }
  